resources.projectroot=/Users/giovanni/Projects/touch
logging.level.ROOT=WARN
logging.level.org.springframework=WARN
spring.datasource.url=jdbc:postgresql://localhost/touch_test
spring.datasource.username=giovanni
spring.datasource.password=1234
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.thymeleaf.cache=false
