<!DOCTYPE html>

<html>
<head>
  <title>Spring Aurelia</title>
  <meta charset="UTF-8" />
  <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="stylesheet" href="styles/app.css">
</head>
<!-- data-uk-observe is necessary to uikit declarative style work on aurelia templates -->
<body aurelia-app="main" data-uk-observe>
<div class="splash">
    <div class="description">Loading</div>
    <div class="loader"></div>
</div>

<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('aurelia-bootstrapper');
</script>
</body>
</html>
