@import "_loader";
@import '../bower_components/font-awesome/less/font-awesome';
// TODO Customize Uikit
@import '../bower_components/uikit/themes/almost-flat/uikit';
@import '../bower_components/uikit/src/less/components/progress';
@import '../bower_components/uikit/src/less/components/tooltip';
@import '../bower_components/uikit/src/less/components/notify';
.splash {
  text-align: center;
  margin-top: 5em;
  color: @loader-background-color;
  .message {
    font-size: 8em;
  }
  .description {
    margin-top: 2em;
    font-size: 2em;
  }
}

.tm-error-headline {
    font-size: 100px;
}

.uk-text-muted {
    color: #CCC !important;
}

.tm-error-icon {
    font-size: 200px;
}
#error50x {
  .uk-modal-header {
     background-color: red;
     color: white;
  }
}
#error40x {
  .uk-modal-header {
     background-color: green;
     color: white;
  }
}

#errorOther {
  .uk-modal-header {
     background-color: red;
     color: white;
  }
}
